* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vmin;
    height: 100vh;
    width: 100vw;
}

.board {
    height: 70vmin;
    aspect-ratio: 1;
    background-color: red;
    display: flex;
    flex-wrap: wrap;

    border: 1vmin solid #adadad;
}

.box1, .box2 {
    width: 12.5%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}

.box1:nth-of-type(odd) {
    background-color: white;
}

.box1:nth-of-type(even) {
    background-color: #e2e2e2;
}

.box2:nth-of-type(even) {
    background-color: white;
}

.box2:nth-of-type(odd) {
    background-color: #e2e2e2;
}

label {
    font-size: 3vmin;
}